$color1: #fffaf4;
$color2: #6a0000;
$color3: #70798c;
$color4: #0d1821;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.found-prod-container {
    margin: 0.5em;
    width: auto;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color4;
    border-radius: 5px;
    background-color: #ffffff;
}
.prod-p {
    font-weight: 600;
    margin: 0.5em 0;
}
.no-style-anchor {
    text-decoration: none;
}
.redirect-btn {
    outline: none;
    padding: 0.15em 0.5em;
    border-radius: 50px;
    color: $color4;
    border: none;
    background-color: #ffffff;
    font-size: 1em;
    transition: all 0.2s;
    &:hover {
        background-color: $color2;
        color: $color1;
    }
    &:active {
        transform: scale(98%);
    }
}

.close-btn {
    outline: none;
    padding: 0.25em 0.75em;
    margin-top: 3em;
    border-radius: 50px;
    color: #ffffff;
    border: 1px solid $color3;
    background-color: $color4;
    font-size: 1em;
    transition: all 0.2s;
    &:hover {
        background-color: $color2;
    }
    &:active {
        transform: scale(98%);
    }
}

#lista-carrito {
    list-style: none;
    margin: 0 2em 2em 0;
}

.cart-prod-li {
    padding: 0.25em 1.5em;
    margin-bottom: 0.5em;
    width: 100%;
    border: 1px solid $color4;
    border-radius: 5px;
    background-color: #ffffff;
}

@media screen and (min-width: 1367px) {
    .purchase-section {
        padding-bottom: 2em;
        height: auto;
        background-color: $color1;
        padding-top: 4em;
        .purchase-section-title {
            font-size: 3em;
            color: $color4;
        }
        .product-container {
            width: 90%;
            .row {
                width: 100%;
                .col {
                    padding: 1em;
                    width: 33%;
                    .card {
                        padding: 0.5em;
                        height: 100%;
                        width: 100%;
                        border: 2px solid $color2;
                        .card-body {
                            margin-top: 3em;
                            height: 50%;
                            .card-product-desc {
                                height: 75%;
                                .card-title {
                                    font-size: 1.75em;
                                    color: $color4;
                                }
                                .card-text {
                                    color: $color4;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .close-btn {
        font-size: 0.9em;
    }
    .purchase-section {
        padding-bottom: 2em;
        height: auto;
        background-color: $color1;
        padding-top: 4em;
        .purchase-section-title {
            font-size: 3em;
            color: $color4;
        }
        .product-container {
            width: 90%;
            .row {
                width: 100%;
                .col {
                    padding: 1em;
                    width: 33%;
                    .card {
                        padding: 0.5em;
                        height: 100%;
                        width: 100%;
                        border: 2px solid $color2;
                        .card-body {
                            margin-top: 3em;
                            height: 50%;
                            .card-product-desc {
                                height: 75%;
                                .card-title {
                                    font-size: 1.5em;
                                    color: $color4;
                                }
                                .card-text {
                                    color: $color4;
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}   