$color1: #fffaf4;
$color2: #6a0000;
$color3: #70798c;
$color4: #0d1821;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.found-prod-container {
    padding: 0 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.no-style-anchor {
    text-decoration: none;
}
.redirect-btn {
    outline: none;
    padding: 0.25em 1em;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid $color3;
    background-color: $color4;
    font-size: 1em;
    transition: all 0.2s;
    &:hover {
        background-color: $color2;
    }
    &:active {
        transform: scale(98%);
    }
}

.close-btn {
    outline: none;
    padding: 0.25em 0.75em;
    margin-top: 1em;
    border-radius: 50px;
    color: #ffffff;
    border: 1px solid $color3;
    background-color: $color4;
    font-size: 1em;
    transition: all 0.2s;
    &:hover {
        background-color: $color2;
    }
    &:active {
        transform: scale(98%);
    }
}

#lista-carrito {
    list-style: none;
}