@use "_utils";
nav {
    background-color: utils.$color1;
    border-bottom: 1px solid utils.$color3;
    .container-fluid {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        transition: all 0.2s;
                        font-size: 1.25em;
                        color: utils.$color4;
                        &:hover {
                            color: utils.$color2;
                        }
                    }
                }
            }
        }
        .cartNSearch-container {
            .cartNSearch {
                #search-input {
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid utils.$color3;
                    background-color: #ffffff;
                    padding: 0.5em 1em;
                    text-align: start;
                }
                #search-btn {
                    outline: none;
                    border: none;
                    background-color: transparent;
                }
                #cart-btn {
                    outline: none;
                    border: none;
                    background-color: transparent;
                }
            }
            .search-container {
                text-align: center;
                color: utils.$color4;
                display: none;
                background-color: utils.$color1;
                width: 25%;
                height: auto;
                position: absolute;
                top: 100%;
                right: 0%;
                border: 1px solid utils.$color3;
                padding: 1em 0;
            }
            .cart-container {
                text-align: center;
                color: utils.$color4;
                display: none;
                background-color: utils.$color1;
                width: 25%;
                height: auto;
                position: absolute;
                top: 100%;
                right: 0%;
                border: 1px solid utils.$color3;
                padding: 1em 0;
            }
        }
    }
}
.home-section {
    background-color: utils.$color1;
    .wallpaper {
        .logo {
            position: absolute;
            top: 15%;
        }
        .bg-img {
            width: 100%;
            height: 100vh;
        }
        .attribution-desc {
            font-size: 0.75em;
            color: utils.$color4;
            a {
                color: utils.$color4;
            }
        }
    }
}
.us-section {
    height: auto;
    background-color: utils.$color1;
    margin: auto;
    padding-top: 1em;
    .us-section-title {
        margin-top: 1em;
        color: utils.$color4;
        text-align: center;
        font-size: 3em;
    }
    .us-section-desc {
        margin-top: 1em;
        padding: 0 10%;
        color: utils.$color4;
        text-align: center;
        font-size: 1.5em;
    }
    .contact-btn {
        outline: none;
        padding: 0.5em 5em;
        border-radius: 5px;
        color: #ffffff;
        border: 1px solid utils.$color3;
        background-color: utils.$color4;
        font-size: 1.25em;
        transition: all 0.2s;
        &:hover {
            background-color: utils.$color2;
        }
        &:active {
            transform: scale(98%);
        }
    }
}
.purchase-section {
    padding-bottom: 2em;
    height: auto;
    background-color: utils.$color1;
    padding-top: 4em;
    .purchase-section-title {
        font-size: 3em;
        color: utils.$color4;
    }
    .product-container {
        width: 90%;
        .row {
            width: 100%;
            .col {
                padding: 1em;
                width: 33%;
                .card {
                    padding: 0.5em;
                    height: 100%;
                    width: 100%;
                    border: 2px solid utils.$color2;
                    img {
                        width: 50%;
                    }
                    .card-body {
                        margin-top: 3em;
                        height: 50%;
                        .card-product-desc {
                            height: 75%;
                        }
                        .card-product-options {
                            padding-top: 1em;
                            height: 25%;
                            .card-price {
                                font-size: 1.2em;
                                color: utils.$color2;
                            }
                            .card-options-container {
                                margin-bottom: 3em;
                                gap: 1em;
                                .quant-imput {
                                width: 25%;
                                    outline: none;
                                    border-radius: 5px;
                                    border: 1px solid utils.$color2;
                                    background-color: #ffffff;
                                    text-align: center;
                                }
                                .add-btn {
                                    width: 75%;
                                    outline: none;
                                    padding: 0.25em 1em;
                                    border-radius: 5px;
                                    color: #ffffff;
                                    border: 1px solid utils.$color2;
                                    background-color: utils.$color4;
                                    transition: all 0.2s;
                                    &:hover {
                                        background-color: utils.$color2;
                                    }
                                    &:active {
                                        transform: scale(98%);
                                    }
                                }        
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    height: 7.5vh;
    background-color: utils.$color2;
    padding: 0 2em;
    .page-info {
        color: utils.$color1;
        font-size: 1.25em;
        margin: 0;
    }
    .socials-container {
        .anchor {
            margin: 0 0.5em 0 0;
            text-decoration: none;
        }
    }
}