* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.found-prod-container {
  margin: 0.5em;
  width: auto;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0d1821;
  border-radius: 5px;
  background-color: #ffffff;
}

.prod-p {
  font-weight: 600;
  margin: 0.5em 0;
}

.no-style-anchor {
  text-decoration: none;
}

.redirect-btn {
  outline: none;
  padding: 0.15em 0.5em;
  border-radius: 50px;
  color: #0d1821;
  border: none;
  background-color: #ffffff;
  font-size: 1em;
  transition: all 0.2s;
}
.redirect-btn:hover {
  background-color: #6a0000;
  color: #fffaf4;
}
.redirect-btn:active {
  transform: scale(98%);
}

.close-btn {
  outline: none;
  padding: 0.25em 0.75em;
  border-radius: 50px;
  color: #ffffff;
  border: 1px solid #70798c;
  background-color: #0d1821;
  transition: all 0.2s;
}
.close-btn:hover {
  background-color: #6a0000;
}
.close-btn:active {
  transform: scale(98%);
}

#lista-carrito {
  list-style: none;
  margin: 0 2em 2em 0;
}

.cart-prod-li {
  padding: 0.25em 1.5em;
  margin-bottom: 0.5em;
  width: 100%;
  border: 1px solid #0d1821;
  border-radius: 5px;
  background-color: #ffffff;
}

@media screen and (min-width: 360px) {
  .navbar img {
    width: 200px;
  }
  .collapse .nav-links-container {
    margin-left: 2em;
    width: 100%;
  }
  .collapse .nav-links-container .navbar-nav .nav-item {
    font-size: 1em;
  }
  .collapse .cartNSearch-container {
    width: 100%;
  }
  .cart-container {
    width: 100%;
  }
  .search-container {
    width: 100%;
  }
  .home-section .wallpaper .logo {
    top: 10%;
    width: 300px;
  }
  .home-section .wallpaper .bg-img {
    display: none;
  }
  .home-section .wallpaper .attribution-desc {
    display: none;
  }
  .us-section {
    padding-top: 10em;
  }
  .purchase-section {
    padding-bottom: 2em;
    height: auto;
    background-color: #fffaf4;
    padding-top: 4em;
  }
  .purchase-section .purchase-section-title {
    font-size: 3em;
    color: #0d1821;
  }
  .purchase-section .product-container {
    width: 90%;
  }
  .purchase-section .product-container .row {
    place-content: center;
  }
  .purchase-section .product-container .row .col {
    margin-bottom: 2em;
  }
  .purchase-section .product-container .row .col .card {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    border: 2px solid #6a0000;
  }
  .purchase-section .product-container .row .col .card .card-body {
    margin-top: 3em;
    height: 50%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc {
    height: 75%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-title {
    text-align: center;
    font-size: 1.5em;
    color: #0d1821;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-text {
    color: #0d1821;
    font-size: 1em;
  }
  .footer {
    height: auto;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .page-info {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 1em;
  }
  .footer .socials-container {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 577px) {
  .navbar img {
    display: none;
  }
  .collapse {
    justify-content: space-between;
    flex-direction: row;
  }
  .collapse .nav-links-container {
    width: auto;
  }
  .collapse .nav-links-container .navbar-nav .nav-item {
    font-size: 1em;
  }
  .cart-container {
    width: 50%;
  }
  .search-container {
    width: 50%;
  }
  .home-section .wallpaper .logo {
    top: 10%;
    width: 300px;
  }
  .home-section .wallpaper .bg-img {
    display: block;
    width: 100%;
  }
  .home-section .wallpaper .attribution-desc {
    display: block;
    font-size: 0.75em;
  }
  .purchase-section {
    padding-bottom: 2em;
    height: auto;
    background-color: #fffaf4;
    padding-top: 4em;
  }
  .purchase-section .purchase-section-title {
    font-size: 3em;
    color: #0d1821;
  }
  .purchase-section .product-container {
    width: 90%;
  }
  .purchase-section .product-container .row {
    place-content: center;
  }
  .purchase-section .product-container .row .col {
    margin-bottom: 2em;
  }
  .purchase-section .product-container .row .col .card {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    border: 2px solid #6a0000;
  }
  .purchase-section .product-container .row .col .card .card-body {
    margin-top: 3em;
    height: 50%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc {
    height: 75%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-title {
    font-size: 1.5em;
    color: #0d1821;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-text {
    color: #0d1821;
    font-size: 1em;
  }
  .footer {
    height: 7.5vh;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .page-info {
    font-size: 1.25em;
  }
  .footer .socials-container {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .navbar img {
    display: block;
    width: 200px;
  }
  .nav-links-container .navbar-nav .nav-item {
    font-size: 1.25em;
  }
  .cart-container {
    width: 30%;
  }
  .search-container {
    width: 30%;
  }
  .home-section .wallpaper .logo {
    width: 400px;
    top: 15%;
  }
  .home-section .wallpaper .bg-img {
    width: 100%;
  }
  .home-section .wallpaper .attribution-desc {
    font-size: 0.75em;
  }
  .purchase-section {
    padding-bottom: 2em;
    height: auto;
    background-color: #fffaf4;
    padding-top: 4em;
  }
  .purchase-section .purchase-section-title {
    font-size: 3em;
    color: #0d1821;
  }
  .purchase-section .product-container {
    width: 90%;
  }
  .purchase-section .product-container .row {
    place-content: center;
  }
  .purchase-section .product-container .row .col {
    width: 33%;
    margin-bottom: 2em;
  }
  .purchase-section .product-container .row .col .card {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    border: 2px solid #6a0000;
  }
  .purchase-section .product-container .row .col .card .card-body {
    margin-top: 3em;
    height: 50%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc {
    height: 75%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-title {
    font-size: 1.5em;
    color: #0d1821;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-text {
    color: #0d1821;
    font-size: 1em;
  }
  .footer {
    height: 7.5vh;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .page-info {
    font-size: 1.25em;
  }
  .footer .socials-container {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1367px) {
  .navbar img {
    width: 300px;
  }
  .navbar {
    justify-content: space-between;
  }
  .cart-container {
    width: 25%;
  }
  .search-container {
    width: 25%;
  }
  .cartNSearch {
    align-self: flex-end;
  }
  .home-section .wallpaper .logo {
    width: 500px;
    top: 15%;
  }
  .home-section .wallpaper .bg-img {
    width: 100%;
    height: 100vh;
  }
  .home-section .wallpaper .attribution-desc {
    font-size: 0.75em;
  }
  .purchase-section {
    padding-bottom: 2em;
    height: auto;
    background-color: #fffaf4;
    padding-top: 4em;
  }
  .purchase-section .purchase-section-title {
    font-size: 3em;
    color: #0d1821;
  }
  .purchase-section .product-container {
    margin-top: 2em;
    width: 90%;
  }
  .purchase-section .product-container .row {
    place-content: center;
  }
  .purchase-section .product-container .row .col {
    width: 33%;
    margin-bottom: 2em;
  }
  .purchase-section .product-container .row .col .card {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    border: 2px solid #6a0000;
  }
  .purchase-section .product-container .row .col .card .card-body {
    margin-top: 3em;
    height: 50%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc {
    height: 75%;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-title {
    font-size: 1.75em;
    color: #0d1821;
  }
  .purchase-section .product-container .row .col .card .card-body .card-product-desc .card-text {
    color: #0d1821;
    font-size: 1.25em;
  }
  .footer {
    height: 7.5vh;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .page-info {
    font-size: 1.25em;
  }
  .footer .socials-container {
    margin-bottom: 0;
  }
}
nav {
  background-color: #fffaf4;
  border-bottom: 1px solid #70798c;
}
nav .collapse .nav-links-container .navbar-nav .nav-item .nav-link {
  transition: all 0.2s;
  font-size: 1.25em;
  color: #0d1821;
}
nav .collapse .nav-links-container .navbar-nav .nav-item .nav-link:hover {
  color: #6a0000;
}
nav .collapse .cartNSearch-container .cartNSearch #search-input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #70798c;
  background-color: #ffffff;
  padding: 0.5em 1em;
  text-align: start;
}
nav .collapse .cartNSearch-container .cartNSearch #search-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
nav .collapse .cartNSearch-container .cartNSearch #cart-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
nav .collapse .cartNSearch-container .search-container {
  text-align: center;
  color: #0d1821;
  display: none;
  background-color: #fffaf4;
  height: auto;
  position: absolute;
  top: 100%;
  right: 0%;
  border: 1px solid #70798c;
  padding: 1em 0;
}
nav .collapse .cartNSearch-container .cart-container {
  text-align: center;
  color: #0d1821;
  display: none;
  background-color: #fffaf4;
  height: auto;
  position: absolute;
  top: 100%;
  right: 0%;
  border: 1px solid #70798c;
  padding: 1em 0;
}

.home-section {
  background-color: #fffaf4;
}
.home-section .wallpaper .logo {
  position: absolute;
}
.home-section .wallpaper .attribution-desc {
  font-size: 0.75em;
  color: #0d1821;
}
.home-section .wallpaper .attribution-desc a {
  color: #0d1821;
}

.us-section {
  height: auto;
  background-color: #fffaf4;
  margin: auto;
}
.us-section .us-section-title {
  margin-top: 1em;
  color: #0d1821;
  text-align: center;
  font-size: 3em;
}
.us-section .us-section-desc {
  margin-top: 1em;
  padding: 0 10%;
  color: #0d1821;
  text-align: center;
  font-size: 1.5em;
}
.us-section .contact-btn {
  outline: none;
  padding: 0.5em 5em;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #70798c;
  background-color: #0d1821;
  font-size: 1.25em;
  transition: all 0.2s;
}
.us-section .contact-btn:hover {
  background-color: #6a0000;
}
.us-section .contact-btn:active {
  transform: scale(98%);
}

.purchase-section {
  padding-bottom: 2em;
  height: auto;
  background-color: #fffaf4;
  padding-top: 4em;
}
.purchase-section .purchase-section-title {
  text-align: center;
  font-size: 3em;
  color: #0d1821;
}
.purchase-section .product-container {
  width: 90%;
}
.purchase-section .product-container .row {
  width: 100%;
}
.purchase-section .product-container .row .col .card {
  padding: 0.5em;
  height: 100%;
  width: 100%;
  border: 2px solid #6a0000;
}
.purchase-section .product-container .row .col .card img {
  width: 50%;
}
.purchase-section .product-container .row .col .card .card-body {
  margin-top: 3em;
  height: 50%;
}
.purchase-section .product-container .row .col .card .card-body .card-product-desc {
  height: 75%;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options {
  padding-top: 1em;
  height: 25%;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-price {
  font-size: 1.2em;
  color: #6a0000;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-options-container {
  margin-bottom: 3em;
  gap: 1em;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-options-container .quant-imput {
  width: 25%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6a0000;
  background-color: #ffffff;
  text-align: center;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-options-container .add-btn {
  width: 75%;
  outline: none;
  padding: 0.25em 1em;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #6a0000;
  background-color: #0d1821;
  transition: all 0.2s;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-options-container .add-btn:hover {
  background-color: #6a0000;
}
.purchase-section .product-container .row .col .card .card-body .card-product-options .card-options-container .add-btn:active {
  transform: scale(98%);
}

.footer {
  background-color: #6a0000;
  padding: 0 2em;
}
.footer .page-info {
  color: #fffaf4;
}
.footer .socials-container .anchor {
  margin: 0 0.5em 0 0;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
